In [49]:
x = 'hello, world!'

In [50]:
x

'hello, world!'

In [51]:
print(x)

hello, world!

In [63]:
def hello(name='world'):
    print("Hello, " + name + '!')
    return None

In [64]:
def hello2(name='world'):
    if type(name) is not str:
        name = str(name)
    print("Hello, " + name + '!')
    return None

In [72]:
def hello3(name='world'):
    if type(name) is not str:
        name = str(name)
    return "Hello, " + name + '!'

In [77]:
def hello3(name='world', upper=True):
    if type(name) is not str:
        name = str(name)
    if upper:
        name = name.upper()
    return "Hello, " + name + '!'

In [78]:
hello("Raf")

Hello, Raf!

In [66]:
hello("Susan")

Hello, Susan!

In [67]:
hello("Ravi")

Hello, Ravi!

In [68]:
hello("Jin")

Hello, Jin!

In [69]:
names = 'bob fred sue john ravi sudeepti hunahpu quetzil lin kim'.split()

In [42]:
for name in names:
    hello(name)

Hello, bob!
Hello, fred!
Hello, sue!
Hello, john!
Hello, ravi!
Hello, sudeepti!
Hello, hunahpu!
Hello, quetzil!
Hello, lin!
Hello, kim!

In [57]:
_ = [hello(name) for name in names]

Hello, bob!
Hello, fred!
Hello, sue!
Hello, john!
Hello, ravi!
Hello, sudeepti!
Hello, hunahpu!
Hello, quetzil!
Hello, lin!
Hello, kim!

In [44]:
import pandas as pd

In [58]:
df = pd.DataFrame(names, columns=['fname'])

In [59]:
df

      fname
0       bob
1      fred
2       sue
3      john
4      ravi
5  sudeepti
6   hunahpu
7   quetzil
8       lin
9       kim

In [61]:
df.fname.apply(hello)

Hello, bob!
Hello, fred!
Hello, sue!
Hello, john!
Hello, ravi!
Hello, sudeepti!
Hello, hunahpu!
Hello, quetzil!
Hello, lin!
Hello, kim!

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: fname, dtype: object

In [75]:
df.apply(lambda x:  hello3(x['fname']), 1)

0         Hello, bob!
1        Hello, fred!
2         Hello, sue!
3        Hello, john!
4        Hello, ravi!
5    Hello, sudeepti!
6     Hello, hunahpu!
7     Hello, quetzil!
8         Hello, lin!
9         Hello, kim!
dtype: object

In [76]:
df.fname.apply(hello3)

0         Hello, bob!
1        Hello, fred!
2         Hello, sue!
3        Hello, john!
4        Hello, ravi!
5    Hello, sudeepti!
6     Hello, hunahpu!
7     Hello, quetzil!
8         Hello, lin!
9         Hello, kim!
Name: fname, dtype: object

In [79]:
df.fname.apply(lambda x: hello3(x, True))

0         Hello, BOB!
1        Hello, FRED!
2         Hello, SUE!
3        Hello, JOHN!
4        Hello, RAVI!
5    Hello, SUDEEPTI!
6     Hello, HUNAHPU!
7     Hello, QUETZIL!
8         Hello, LIN!
9         Hello, KIM!
Name: fname, dtype: object