# Module 4: NLP and the Pipeline

* DS 6001
* Raf Alvarado

# Overview

We import a collection of texts and convert to F2. Then we annotate the collection to create an F3-level model.

# Set Up

## Configs

In [ ]:
OHCO = ['book_id', 'chap_num', 'para_num', 'sent_num', 'token_num']
epub_dir = 'epubs'

## Imports

In [2]:
import pandas as pd
import numpy as np
from glob import glob
import re
import nltk

In [3]:
%matplotlib inline

## Import NLTK and download resources

If you need to install NLTK, see the [instructions here](https://www.nltk.org/install.html). You can also install this with Anaconda, like so:

`conda install nltk`

Once you have installed NLTK, you will need to download resources, which will happen when you run the following cell. If the interactive window opens, you may need to set your NLTK Data Directory, as described in the [instructions here](https://www.nltk.org/data.html). To set the directory, click on the File menu and select Change Download Directory. For central installation, set this to `C:\nltk_data` (Windows),`/usr/local/share/nltk_data` (Mac), or `/usr/share/nltk_data` (Unix). 

> If you did not install the data to one of the above central locations, you will need to set the NLTK_DATA environment variable to specify the location of the data. (On a Windows machine, right click on “My Computer” then select Properties > Advanced > Environment Variables > User Variables > New...)

In [4]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
nltk.download('tagsets')

[nltk_data] Error loading punkt: <urlopen error [Errno 8] nodename nor
[nltk_data]     servname provided, or not known>
[nltk_data] Error loading averaged_perceptron_tagger: <urlopen error
[nltk_data]     [Errno 8] nodename nor servname provided, or not
[nltk_data]     known>
[nltk_data] Error loading stopwords: <urlopen error [Errno 8] nodename
[nltk_data]     nor servname provided, or not known>
[nltk_data] Error loading tagsets: <urlopen error [Errno 8] nodename
[nltk_data]     nor servname provided, or not known>

False

# Acquire

We download the novels of Jane Austen and Herman Melville from Project Gutenberg. I actually used a utility I created called PGTK:

* https://github.com/ontoligent-design/pgtk

# Inspect

Since Project Gutenberg texts vary widely in their markup, we define our chunking patterns by hand.

In [5]:
roman = '[IVXLCM]+'
caps = "[A-Z';, -]+"
chap_pats = {
    158: {
        'start_line': 37,
        'end_line': 16261,
        'volume': re.compile('^\s*VOLUME\s+{}\s*$'.format(roman)),
        'chapter': re.compile('^\s*CHAPTER\s+{}\s*$'.format(roman))
    },
    946: {
        'start_line': 38,
        'end_line': 2556,
        'chapter': re.compile("^\s*{}\s*$".format(roman))
    },
    1212: {
        'start_line': 77,
        'end_line': 3432,
        'chapter': re.compile("^\s*LETTER .* to .*$")
    },
    141: {\
        'start_line': 40,
        'end_line': 15376,
        'chapter': re.compile("^CHAPTER\s+{}$".format(roman))
    },
    121: {
        'start_line': 57,
        'end_line': 7874,
        'chapter': re.compile("^CHAPTER\s+\d+$")
    },
    105: {
        'start_line': 48,
        'end_line': 8360,
        'chapter': re.compile("^Chapter\s+\d+$")
    },
    1342: {
        'start_line': 37,
        'end_line': 13061,
        'chapter': re.compile("^Chapter\s+\d+$")
    },
    161: {
        'start_line': 43,
        'end_line': 12654,
        'chapter': re.compile("^CHAPTER\s+\d+$")          
    },
    15422: {
        'start_line': 193,
        'end_line': 7501,
        'chapter': re.compile("^\s*CHAPTER\s+{}\.".format(roman))
    },
    13720: {
        'start_line': 187,
        'end_line': 11470,
        'chapter': re.compile("^\s*CHAPTER\s+{}\s*$".format(roman))
    },
    13721: {
        'start_line': 164,
        'end_line': 13135,
        'chapter': re.compile("^\s*CHAPTER\s+{}\s*$".format(roman))
    },
    2701: {
        'start_line': 52,
        'end_line': 21743,
        'chapter': re.compile("^(ETYMOLOGY|EXTRACTS|CHAPTER)")
    },
    4045: {
        'start_line': 138,
        'end_line': 11655,
        'volume': re.compile("^\s*PART\s+{}\s*$".format(roman)),
        'chapter': re.compile("^\s*CHAPTER\s+{}\.\s*$".format(roman))
    },
    34970: {
        'start_line': 234,
        'end_line': 16267,
        'volume': re.compile("^\s*BOOK\s+{}\.\s*$".format(roman)),
        'chapter': re.compile("^\s*{}\.\s*$".format(roman))
    },
    8118: {
        'start_line': 142,
        'end_line': 12300,
        'chapter': re.compile("^\s*{}\. .*$".format(roman))
    },
    53861: {
        'start_line': 129,
        'end_line': 6904,
        'chapter': re.compile('^\s*{}\s*$'.format(caps))
    },
    21816: {
        'start_line': 309,
        'end_line': 11023,
        'chapter': re.compile('^CHAPTER\s+{}\.?$'.format(roman))
    },
    15859: {
        'start_line': 77,
        'end_line': 8619,
        'chapter': re.compile('^\s*{}\s*$'.format(caps))
    },
    1900: {
        'start_line': 43,
        'end_line': 11216,
        'chapter': re.compile("^CHAPTER\s+\w+\s*$")
    },
    10712: {
        'start_line': 205,
        'end_line': 15487,
        'chapter': re.compile("^CHAPTER\s+{}\.\s*$".format(roman))
    }
}

# Register and Chunk

In [11]:
def acquire_epubs(epub_list, chap_pats, OHCO=OHCO):
    
    my_lib = []
    my_doc = []

    for epub_file in epub_list:
        
        # Get PG ID from filename
        book_id = int(epub_file.split('-')[-1].split('.')[0].replace('pg',''))
        print("BOOK ID", book_id)
        
        # Import file as lines
        lines = open(epub_file, 'r', encoding='utf-8-sig').readlines()
        df = pd.DataFrame(lines, columns=['line_str'])
        df.index.name = 'line_num'
        df.line_str = df.line_str.str.strip()
        df['book_id'] = book_id
        
        # FIX CHARACTERS TO IMPROVE TOKENIZATION
        df.line_str = df.line_str.str.replace('—', ' — ')
        df.line_str = df.line_str.str.replace('-', ' - ')
        
        # Get book title and put into LIB table -- note problems, though
        book_title = re.sub(r"The Project Gutenberg eBook( of|,) ", "", df.loc[0].line_str, flags=re.IGNORECASE)
        book_title = re.sub(r"Project Gutenberg's ", "", book_title, flags=re.IGNORECASE)
        
        # Remove cruft
        a = chap_pats[book_id]['start_line'] - 1
        b = chap_pats[book_id]['end_line'] + 1
        df = df.iloc[a:b]
        
        # Chunk by chapter
        chap_lines = df.line_str.str.match(chap_pats[book_id]['chapter'])
        chap_nums = [i+1 for i in range(df.loc[chap_lines].shape[0])]
        df.loc[chap_lines, 'chap_num'] = chap_nums
        df.chap_num = df.chap_num.ffill()

        # Clean up
        df = df[~df.chap_num.isna()] # Remove chapter heading lines
        df = df.loc[~chap_lines] # Remove everything before Chapter 1
        df['chap_num'] = df['chap_num'].astype('int')
        
        # Group -- Note that we exclude the book level in the OHCO at this point
        df = df.groupby(OHCO[1:2]).line_str.apply(lambda x: '\n'.join(x)).to_frame() # Make big string
        
        # Split into paragrpahs
        df = df['line_str'].str.split(r'\n\n+', expand=True).stack().to_frame().rename(columns={0:'para_str'})
        df.index.names = OHCO[1:3] # MAY NOT BE NECESSARY UNTIL THE END
        df['para_str'] = df['para_str'].str.replace(r'\n', ' ').str.strip()
        df = df[~df['para_str'].str.match(r'^\s*$')] # Remove empty paragraphs
        
        # Set index
        df['book_id'] = book_id
        df = df.reset_index().set_index(OHCO[:3])

        # Register
        my_lib.append((book_id, book_title, epub_file))
        my_doc.append(df)

    docs = pd.concat(my_doc)
    library = pd.DataFrame(my_lib, columns=['book_id', 'book_title', 'book_file']).set_index('book_id')
    return library, docs

In [7]:
epubs = [epub for epub in sorted(glob(epub_dir+'/*.txt'))]
LIB, DOC = acquire_epubs(epubs, chap_pats)

BOOK ID 158
BOOK ID 946
BOOK ID 1212
BOOK ID 141
BOOK ID 121
BOOK ID 105
BOOK ID 1342
BOOK ID 161
BOOK ID 15422
BOOK ID 13720
BOOK ID 13721
BOOK ID 2701
BOOK ID 4045
BOOK ID 34970
BOOK ID 8118
BOOK ID 53861
BOOK ID 21816
BOOK ID 15859
BOOK ID 1900
BOOK ID 10712

In [8]:
DOC.sample(10)

                                                                    para_str
book_id chap_num para_num
13721   28       17        "Peace! everlasting foes," cried Media, interp...
21816   25       3         It was in the semicircular porch of a cabin, o...
1342    43       71        Elizabeth excused herself as well as she could...
2701    122      26        The tableau all waned at last with the pallidn...
21816   2        29        As pine, beech, birch, ash, hackmatack, hemloc...
4045    76       1         UPON arriving home we fully laid open to Po - ...
2701    90       15        Stripped to our shirts and drawers, we sprang ...
10712   20       6         During warm nights in the Tropics, your hammoc...
34970   50       10        But her gentler sex returned to Isabel at last...
13721   32       39        "Shall I adjourn the court then, my lord?" sai...

# Tokenize

We use NLTK this time. Note that this process takes some time, mainly because the NLTK functions are not optimized for dataframes.

In [9]:
def tokenize(doc_df, remove_pos_tuple=False, OHCO=OHCO):
    
    # Paragraphs to Sentences
    df = doc_df.para_str\
        .apply(lambda x: pd.Series(nltk.sent_tokenize(x)))\
        .stack()\
        .to_frame()\
        .rename(columns={0:'sent_str'})
    
    # Sentences to Tokens
    # .apply(lambda x: pd.Series(nltk.pos_tag(nltk.word_tokenize(x))))\
    df = df.sent_str\
        .apply(lambda x: pd.Series(nltk.pos_tag(nltk.WhitespaceTokenizer().tokenize(x))))\
        .stack()\
        .to_frame()\
        .rename(columns={0:'pos_tuple'})
    
    # Grab info from tuple
    df['pos'] = df.pos_tuple.apply(lambda x: x[1])
    df['token_str'] = df.pos_tuple.apply(lambda x: x[0])
    if remove_pos_tuple:
        df = df.drop('pos_tuple', 1)
    
    # Add index
    df.index.names = OHCO
    
    return df

In [10]:
TOKEN = tokenize(DOC)

In [12]:
TOKEN.head()

                                                      pos_tuple  pos  \
book_id chap_num para_num sent_num token_num
158     1        1        0        0                (Emma, NNP)  NNP
                                   1          (Woodhouse,, NNP)  NNP
                                   2            (handsome,, NN)   NN
                                   3              (clever,, NN)   NN
                                   4                  (and, CC)   CC

                                               token_str
book_id chap_num para_num sent_num token_num
158     1        1        0        0                Emma
                                   1          Woodhouse,
                                   2           handsome,
                                   3             clever,
                                   4                 and

In [13]:
TOKEN[TOKEN.pos.str.match('^JJ')]

                                                        pos_tuple  pos  \
book_id chap_num para_num sent_num token_num
158     1        1        0        8            (comfortable, JJ)   JJ
                                   11                 (happy, JJ)   JJ
                                   19                 (best, JJS)  JJS
                                   27                (twenty, JJ)   JJ
                                   36                (little, JJ)   JJ
                 2        0        3              (youngest, JJS)  JJS
                                   11         (affectionate,, JJ)   JJ
                                   30                 (early, JJ)   JJ
                          1        11                 (more, JJR)  JJR
                                   14            (indistinct, JJ)   JJ
                                   27             (excellent, JJ)   JJ
                                   34                (little, JJ)   JJ
                                   35                 (short, JJ)   JJ
                 3        0        0                (Sixteen, JJ)   JJ
                                   16               (friend,, JJ)   JJ
                          2        9                (nominal, JJ)   JJ
                                   47             (attached,, JJ)   JJ
                 4        0        1                   (real, JJ)   JJ
                                   2                 (evils,, JJ)   JJ
                                   14                  (much, JJ)   JJ
                                   16                   (own, JJ)   JJ
                                   24                (little, JJ)   JJ
                                   38                  (many, JJ)   JJ
                          1        5                (present, JJ)   JJ
                                   7           (unperceived,, JJ)   JJ
                 5        0        5                 (gentle, JJ)   JJ
                                   18          (disagreeable, JJ)   JJ
                          3        16              (mournful, JJ)   JJ
                          4        5                  (bride, JJ)   JJ
                                   23                 (third, JJ)   JJ
...                                                           ...  ...
10712   92       17       0        15              (unhappy,, JJ)   JJ
                          2        6                (gallant, JJ)   JJ
                                   11                   (top, JJ)   JJ
                 18       0        10                  (main, JJ)   JJ
                                   34                   (own, JJ)   JJ
                          1        21           (unlegalised, JJ)   JJ
                 19       0        27                (little, JJ)   JJ
                          1        17                 (clean, JJ)   JJ
                                   22                   (oft, JJ)   JJ
                                   24               (painted, JJ)   JJ
                                   32                  (vast, JJ)   JJ
                 20       0        8                    (up,, JJ)   JJ
                                   21                 (more, JJR)  JJR
                                   35                   (tow, JJ)   JJ
                                   40                   (own, JJ)   JJ
                 21       0        15          (subterranean, JJ)   JJ
                 22       1        4                   (many, JJ)   JJ
                          2        5                   (full, JJ)   JJ
                          3        25            (indefinite, JJ)   JJ
                          4        2                 (worst, JJS)  JJS
                          5        2                   (last, JJ)   JJ
                                   8               (another;, JJ)   JJ
                                   15                   (own, JJ)   JJ
                          6        5                    (us,, JJ)   JJ
                                   11             (murderous, JJ)   JJ
                                   19                (bloody, JJ)   JJ
                          7        9                   (long, JJ)   JJ
                                   17          (unredressed,, JJ)   JJ
                 23       0        2                    (us,, JJ)   JJ
                                   4              (surround,, JJ)   JJ

                                                  token_str
book_id chap_num para_num sent_num token_num
158     1        1        0        8            comfortable
                                   11                 happy
                                   19                  best
                                   27                twenty
                                   36                little
                 2        0        3               youngest
                                   11         affectionate,
                                   30                 early
                          1        11                  more
                                   14            indistinct
                                   27             excellent
                                   34                little
                                   35                 short
                 3        0        0                Sixteen
                                   16               friend,
                          2        9                nominal
                                   47             attached,
                 4        0        1                   real
                                   2                 evils,
                                   14                  much
                                   16                   own
                                   24                little
                                   38                  many
                          1        5                present
                                   7           unperceived,
                 5        0        5                 gentle
                                   18          disagreeable
                          3        16              mournful
                          4        5                  bride
                                   23                 third
...                                                     ...
10712   92       17       0        15              unhappy,
                          2        6                gallant
                                   11                   top
                 18       0        10                  main
                                   34                   own
                          1        21           unlegalised
                 19       0        27                little
                          1        17                 clean
                                   22                   oft
                                   24               painted
                                   32                  vast
                 20       0        8                    up,
                                   21                  more
                                   35                   tow
                                   40                   own
                 21       0        15          subterranean
                 22       1        4                   many
                          2        5                   full
                          3        25            indefinite
                          4        2                  worst
                          5        2                   last
                                   8               another;
                                   15                   own
                          6        5                    us,
                                   11             murderous
                                   19                bloody
                          7        9                   long
                                   17          unredressed,
                 23       0        2                    us,
                                   4              surround,

[166430 rows x 3 columns]

# Reduce

Extract a vocabulary from the TOKEN table

In [14]:
TOKEN['term_str'] = TOKEN['token_str'].str.lower().str.replace('[\W_]', '')

In [15]:
VOCAB = TOKEN.term_str.value_counts().to_frame().rename(columns={'index':'term_str', 'term_str':'n'})\
    .sort_index().reset_index().rename(columns={'index':'term_str'})
VOCAB.index.name = 'term_id'

In [16]:
VOCAB['num'] = VOCAB.term_str.str.match("\d+").astype('int')

In [17]:
VOCAB

           term_str      n  num
term_id
0                    50493    0
1                 0      2    1
2                 1     18    1
3                10      6    1
4               100      2    1
5              1000      2    1
6             10000      3    1
7           1000000      1    1
8          10000000      1    1
9             10440      1    1
10            10800      2    1
11             10th      2    1
12         11000000      1    1
13           118952      1    1
14             11th      2    1
15               12      5    1
16           120000      1    1
17           125000      1    1
18             12th      1    1
19               13      1    1
20            13000      1    1
21              139      2    1
22             1399      1    1
23             13th      3    1
24              140      1    1
25           144000      1    1
26             1492      2    1
27             14th      3    1
28               15      2    1
29              150      1    1
...             ...    ...  ...
40451       zigzags      2    0
40452    zimmermann      3    0
40453          zion      1    0
40454     zmiglandi      2    0
40455        znobbi      3    0
40456       znobbis      1    0
40457        znorto      1    0
40458        zodiac     13    0
40459       zodiacs      1    0
40460      zogranda      1    0
40461          zone     20    0
40462         zoned      7    0
40463         zones     11    0
40464          zono      3    0
40465       zonoree      3    0
40466    zoological      5    0
40467       zoology      4    0
40468      zooperbi      2    0
40469     zoophytes      2    0
40470        zophar      1    0
40471     zoroaster      2    0
40472          zozo      1    0
40473          zuma      8    0
40474           zur      2    0
40475             à      5    0
40476         æneas      1    0
40477         æniad      1    0
40478          æson      2    0
40479         æsops      1    0
40480        ł20000      1    0

[40481 rows x 3 columns]

# Annotate (VOCAB)

## Add Stopwords

We use NLTK's built in stopword list for English. Note that we can add and subtract from this list, or just create our own list and keep it in our data model.

In [599]:
sw = pd.DataFrame(nltk.corpus.stopwords.words('english'), columns=['term_str'])
sw = sw.reset_index().set_index('term_str')
sw.columns = ['dummy']
sw.dummy = 1

In [600]:
sw.sample(10)

           dummy
term_str
ourselves      1
whom           1
more           1
at             1
once           1
mightn         1
won            1
my             1
these          1
shouldn't      1

In [601]:
VOCAB['stop'] = VOCAB.term_str.map(sw.dummy)
VOCAB['stop'] = VOCAB['stop'].fillna(0).astype('int')

In [606]:
VOCAB[VOCAB.stop == 1].sample(10)

        term_str      n  num  stop p_stem
term_id
24083        now   5773    0     1    now
16913        him   9194    0     1    him
34853          t     30    0     1      t
35475      these   2704    0     1  these
23982        nor   1219    0     1    nor
24504       only   3398    0     1   onli
17310        how   3070    0     1    how
16734        her  17020    0     1    her
32652         so   9843    0     1     so
10906       down   2451    0     1   down

## Add Stems

In [593]:
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
VOCAB['p_stem'] = VOCAB.term_str.apply(stemmer.stem)

In [594]:
VOCAB.sample(10)

             term_str    n    num  stop      p_stem
term_id
33307           sprig    1  False     0       sprig
38270        upbraids    2  False     0     upbraid
36640        truxills    1  False     0      truxil
2161          askance    4  False     0      askanc
35953      tolerantly    1  False     0  tolerantli
11835        emphatic    6  False     0      emphat
7224     concernments    2  False     0     concern
3925           blocks   42  False     0       block
13099          fallen  102  False     0      fallen
37903      unrecorded    4  False     0    unrecord

# Save

In [643]:
DOC.to_csv('DOC.csv')
LIB.to_csv('LIB.csv')
VOCAB.to_csv('VOCAB.csv')
TOKEN.to_csv('TOKEN.csv')

# Appendix: Explore NER tagging

In [615]:
sents = TOKEN.groupby(OHCO[:4]).apply(lambda x: x.token_str.str.cat(sep=' '))\
    .to_frame().rename(columns={0:'sent_str'})

In [618]:
sents.head()

                                                                             sent_str
book_id chap_num para_num sent_num
105     1        1        0         Sir Walter Elliot, of Kellynch Hall, in Somers...
                          1         This was the page at which the favourite volum...
                 2        0                                 "ELLIOT OF KELLYNCH HALL.
                 3        0         "Walter Elliot, born March 1, 1760, married, J...
                          1         of South Park, in the county of Gloucester, by...

In [641]:
for sent in sents.sample(10).sent_str.values:

    print(sent)
    print()
    
    x = nltk.pos_tag(nltk.WhitespaceTokenizer().tokenize(sent))
    print(x)
    print()
    
    y = nltk.ne_chunk(x)
    print(y)
    print('-' * 80)

Then arranging his person in the basket, he gave the word for them to hoist him to his perch, Starbuck being the one who secured the rope at last; and afterwards stood near it.

[('Then', 'RB'), ('arranging', 'VBG'), ('his', 'PRP$'), ('person', 'NN'), ('in', 'IN'), ('the', 'DT'), ('basket,', 'NN'), ('he', 'PRP'), ('gave', 'VBD'), ('the', 'DT'), ('word', 'NN'), ('for', 'IN'), ('them', 'PRP'), ('to', 'TO'), ('hoist', 'VB'), ('him', 'PRP'), ('to', 'TO'), ('his', 'PRP$'), ('perch,', 'NN'), ('Starbuck', 'NNP'), ('being', 'VBG'), ('the', 'DT'), ('one', 'NN'), ('who', 'WP'), ('secured', 'VBD'), ('the', 'DT'), ('rope', 'NN'), ('at', 'IN'), ('last;', 'NN'), ('and', 'CC'), ('afterwards', 'NNS'), ('stood', 'VBD'), ('near', 'IN'), ('it.', 'NN')]

(S
  Then/RB
  arranging/VBG
  his/PRP$
  person/NN
  in/IN
  the/DT
  basket,/NN
  he/PRP
  gave/VBD
  the/DT
  word/NN
  for/IN
  them/PRP
  to/TO
  hoist/VB
  him/PRP
  to/TO
  his/PRP$
  perch,/NN
  Starbuck/NNP
  being/VBG
  the/DT
  one/NN
  who/WP
  secured/VBD
  the/DT
  rope/NN
  at/IN
  last;/NN
  and/CC
  afterwards/NNS
  stood/VBD
  near/IN
  it./NN)
--------------------------------------------------------------------------------
Advancing Deeper Into The Vale, They Encounter Donjalolo

[('Advancing', 'VBG'), ('Deeper', 'NNP'), ('Into', 'NNP'), ('The', 'DT'), ('Vale,', 'NNP'), ('They', 'PRP'), ('Encounter', 'NNP'), ('Donjalolo', 'NNP')]

(S
  Advancing/VBG
  (PERSON Deeper/NNP Into/NNP The/DT)
  Vale,/NNP
  They/PRP
  (PERSON Encounter/NNP Donjalolo/NNP))
--------------------------------------------------------------------------------
In some of his works his style is only surpassed by the unimprovable sentences of Hobbes of Malmsbury, the paragon of perspicuity.

[('In', 'IN'), ('some', 'DT'), ('of', 'IN'), ('his', 'PRP$'), ('works', 'VBZ'), ('his', 'PRP$'), ('style', 'NN'), ('is', 'VBZ'), ('only', 'RB'), ('surpassed', 'VBN'), ('by', 'IN'), ('the', 'DT'), ('unimprovable', 'JJ'), ('sentences', 'NNS'), ('of', 'IN'), ('Hobbes', 'NNP'), ('of', 'IN'), ('Malmsbury,', 'NNP'), ('the', 'DT'), ('paragon', 'NN'), ('of', 'IN'), ('perspicuity.', 'NN')]

(S
  In/IN
  some/DT
  of/IN
  his/PRP$
  works/VBZ
  his/PRP$
  style/NN
  is/VBZ
  only/RB
  surpassed/VBN
  by/IN
  the/DT
  unimprovable/JJ
  sentences/NNS
  of/IN
  (ORGANIZATION Hobbes/NNP)
  of/IN
  Malmsbury,/NNP
  the/DT
  paragon/NN
  of/IN
  perspicuity./NN)
--------------------------------------------------------------------------------
When in the rear room, set apart for that object, I stand to receive my guests (who, by the way call more, I suspect, to see my chimney than me) I then stand, not so much before, as, strictly speaking, behind my chimney, which is, indeed, the true host.

[('When', 'WRB'), ('in', 'IN'), ('the', 'DT'), ('rear', 'JJ'), ('room,', 'NN'), ('set', 'VBN'), ('apart', 'RB'), ('for', 'IN'), ('that', 'DT'), ('object,', 'NN'), ('I', 'PRP'), ('stand', 'VBP'), ('to', 'TO'), ('receive', 'VB'), ('my', 'PRP$'), ('guests', 'NNS'), ('(who,', 'VBN'), ('by', 'IN'), ('the', 'DT'), ('way', 'NN'), ('call', 'NN'), ('more,', 'NN'), ('I', 'PRP'), ('suspect,', 'VBP'), ('to', 'TO'), ('see', 'VB'), ('my', 'PRP$'), ('chimney', 'NN'), ('than', 'IN'), ('me)', 'NN'), ('I', 'PRP'), ('then', 'RB'), ('stand,', 'VBD'), ('not', 'RB'), ('so', 'RB'), ('much', 'JJ'), ('before,', 'NN'), ('as,', 'NN'), ('strictly', 'RB'), ('speaking,', 'VBD'), ('behind', 'IN'), ('my', 'PRP$'), ('chimney,', 'NN'), ('which', 'WDT'), ('is,', 'VBZ'), ('indeed,', 'VBP'), ('the', 'DT'), ('true', 'JJ'), ('host.', 'NN')]

(S
  When/WRB
  in/IN
  the/DT
  rear/JJ
  room,/NN
  set/VBN
  apart/RB
  for/IN
  that/DT
  object,/NN
  I/PRP
  stand/VBP
  to/TO
  receive/VB
  my/PRP$
  guests/NNS
  (who,/VBN
  by/IN
  the/DT
  way/NN
  call/NN
  more,/NN
  I/PRP
  suspect,/VBP
  to/TO
  see/VB
  my/PRP$
  chimney/NN
  than/IN
  me)/NN
  I/PRP
  then/RB
  stand,/VBD
  not/RB
  so/RB
  much/JJ
  before,/NN
  as,/NN
  strictly/RB
  speaking,/VBD
  behind/IN
  my/PRP$
  chimney,/NN
  which/WDT
  is,/VBZ
  indeed,/VBP
  the/DT
  true/JJ
  host./NN)
--------------------------------------------------------------------------------
"Well, what does thou think then of seeing the world?

[('"Well,', 'VB'), ('what', 'WP'), ('does', 'VBZ'), ('thou', 'VB'), ('think', 'VB'), ('then', 'RB'), ('of', 'IN'), ('seeing', 'VBG'), ('the', 'DT'), ('world?', 'NN')]

(S
  "Well,/VB
  what/WP
  does/VBZ
  thou/VB
  think/VB
  then/RB
  of/IN
  seeing/VBG
  the/DT
  world?/NN)
--------------------------------------------------------------------------------
Captain Benwick listened attentively, and seemed grateful for the interest implied; and though with a shake of the head, and sighs which declared his little faith in the efficacy of any books on grief like his, noted down the names of those she recommended, and promised to procure and read them.

[('Captain', 'NNP'), ('Benwick', 'NNP'), ('listened', 'VBD'), ('attentively,', 'NNS'), ('and', 'CC'), ('seemed', 'VBD'), ('grateful', 'JJ'), ('for', 'IN'), ('the', 'DT'), ('interest', 'NN'), ('implied;', 'NN'), ('and', 'CC'), ('though', 'IN'), ('with', 'IN'), ('a', 'DT'), ('shake', 'NN'), ('of', 'IN'), ('the', 'DT'), ('head,', 'NN'), ('and', 'CC'), ('sighs', 'NNS'), ('which', 'WDT'), ('declared', 'VBD'), ('his', 'PRP$'), ('little', 'JJ'), ('faith', 'NN'), ('in', 'IN'), ('the', 'DT'), ('efficacy', 'NN'), ('of', 'IN'), ('any', 'DT'), ('books', 'NNS'), ('on', 'IN'), ('grief', 'NN'), ('like', 'IN'), ('his,', 'NN'), ('noted', 'VBD'), ('down', 'IN'), ('the', 'DT'), ('names', 'NNS'), ('of', 'IN'), ('those', 'DT'), ('she', 'PRP'), ('recommended,', 'VBD'), ('and', 'CC'), ('promised', 'VBD'), ('to', 'TO'), ('procure', 'VB'), ('and', 'CC'), ('read', 'VB'), ('them.', 'NN')]

(S
  (GPE Captain/NNP)
  (PERSON Benwick/NNP)
  listened/VBD
  attentively,/NNS
  and/CC
  seemed/VBD
  grateful/JJ
  for/IN
  the/DT
  interest/NN
  implied;/NN
  and/CC
  though/IN
  with/IN
  a/DT
  shake/NN
  of/IN
  the/DT
  head,/NN
  and/CC
  sighs/NNS
  which/WDT
  declared/VBD
  his/PRP$
  little/JJ
  faith/NN
  in/IN
  the/DT
  efficacy/NN
  of/IN
  any/DT
  books/NNS
  on/IN
  grief/NN
  like/IN
  his,/NN
  noted/VBD
  down/IN
  the/DT
  names/NNS
  of/IN
  those/DT
  she/PRP
  recommended,/VBD
  and/CC
  promised/VBD
  to/TO
  procure/VB
  and/CC
  read/VB
  them./NN)
--------------------------------------------------------------------------------
Elton?"

[('Elton?"', 'NN')]

(S Elton?"/NN)
--------------------------------------------------------------------------------
That Lucy was disposed to be jealous of her appeared very probable: it was plain that Edward had always spoken highly in her praise, not merely from Lucy's assertion, but from her venturing to trust her on so short a personal acquaintance, with a secret so confessedly and evidently important.

[('That', 'DT'), ('Lucy', 'NNP'), ('was', 'VBD'), ('disposed', 'VBN'), ('to', 'TO'), ('be', 'VB'), ('jealous', 'JJ'), ('of', 'IN'), ('her', 'PRP$'), ('appeared', 'JJ'), ('very', 'RB'), ('probable:', 'IN'), ('it', 'PRP'), ('was', 'VBD'), ('plain', 'NN'), ('that', 'IN'), ('Edward', 'NNP'), ('had', 'VBD'), ('always', 'RB'), ('spoken', 'VBN'), ('highly', 'RB'), ('in', 'IN'), ('her', 'PRP$'), ('praise,', 'NN'), ('not', 'RB'), ('merely', 'RB'), ('from', 'IN'), ("Lucy's", 'NNP'), ('assertion,', 'NN'), ('but', 'CC'), ('from', 'IN'), ('her', 'PRP$'), ('venturing', 'NN'), ('to', 'TO'), ('trust', 'VB'), ('her', 'PRP$'), ('on', 'IN'), ('so', 'IN'), ('short', 'JJ'), ('a', 'DT'), ('personal', 'JJ'), ('acquaintance,', 'NN'), ('with', 'IN'), ('a', 'DT'), ('secret', 'JJ'), ('so', 'RB'), ('confessedly', 'RB'), ('and', 'CC'), ('evidently', 'RB'), ('important.', 'VB')]

(S
  That/DT
  (PERSON Lucy/NNP)
  was/VBD
  disposed/VBN
  to/TO
  be/VB
  jealous/JJ
  of/IN
  her/PRP$
  appeared/JJ
  very/RB
  probable:/IN
  it/PRP
  was/VBD
  plain/NN
  that/IN
  (PERSON Edward/NNP)
  had/VBD
  always/RB
  spoken/VBN
  highly/RB
  in/IN
  her/PRP$
  praise,/NN
  not/RB
  merely/RB
  from/IN
  Lucy's/NNP
  assertion,/NN
  but/CC
  from/IN
  her/PRP$
  venturing/NN
  to/TO
  trust/VB
  her/PRP$
  on/IN
  so/IN
  short/JJ
  a/DT
  personal/JJ
  acquaintance,/NN
  with/IN
  a/DT
  secret/JJ
  so/RB
  confessedly/RB
  and/CC
  evidently/RB
  important./VB)
--------------------------------------------------------------------------------
Catherine, in some amazement, complied, and after remaining a few moments silent, was on the point of reverting to what interested her at that time rather more than anything else in the world, Laurentina's skeleton, when her friend prevented her, by saying, "For heaven's sake!

[('Catherine,', 'NNP'), ('in', 'IN'), ('some', 'DT'), ('amazement,', 'NN'), ('complied,', 'NN'), ('and', 'CC'), ('after', 'IN'), ('remaining', 'VBG'), ('a', 'DT'), ('few', 'JJ'), ('moments', 'NNS'), ('silent,', 'NN'), ('was', 'VBD'), ('on', 'IN'), ('the', 'DT'), ('point', 'NN'), ('of', 'IN'), ('reverting', 'VBG'), ('to', 'TO'), ('what', 'WP'), ('interested', 'JJ'), ('her', 'PRP$'), ('at', 'IN'), ('that', 'DT'), ('time', 'NN'), ('rather', 'RB'), ('more', 'RBR'), ('than', 'IN'), ('anything', 'NN'), ('else', 'RB'), ('in', 'IN'), ('the', 'DT'), ('world,', 'NN'), ("Laurentina's", 'NNP'), ('skeleton,', 'NN'), ('when', 'WRB'), ('her', 'PRP$'), ('friend', 'NN'), ('prevented', 'VBD'), ('her,', 'NN'), ('by', 'IN'), ('saying,', 'NN'), ('"For', 'NNP'), ("heaven's", 'NN'), ('sake!', 'NN')]

(S
  Catherine,/NNP
  in/IN
  some/DT
  amazement,/NN
  complied,/NN
  and/CC
  after/IN
  remaining/VBG
  a/DT
  few/JJ
  moments/NNS
  silent,/NN
  was/VBD
  on/IN
  the/DT
  point/NN
  of/IN
  reverting/VBG
  to/TO
  what/WP
  interested/JJ
  her/PRP$
  at/IN
  that/DT
  time/NN
  rather/RB
  more/RBR
  than/IN
  anything/NN
  else/RB
  in/IN
  the/DT
  world,/NN
  Laurentina's/NNP
  skeleton,/NN
  when/WRB
  her/PRP$
  friend/NN
  prevented/VBD
  her,/NN
  by/IN
  saying,/NN
  "For/NNP
  heaven's/NN
  sake!/NN)
--------------------------------------------------------------------------------
Do not forget me when you are married, that's all.

[('Do', 'VBP'), ('not', 'RB'), ('forget', 'VB'), ('me', 'PRP'), ('when', 'WRB'), ('you', 'PRP'), ('are', 'VBP'), ('married,', 'JJ'), ("that's", 'NN'), ('all.', 'NN')]

(S
  Do/VBP
  not/RB
  forget/VB
  me/PRP
  when/WRB
  you/PRP
  are/VBP
  married,/JJ
  that's/NN
  all./NN)
--------------------------------------------------------------------------------

# POS Tagset

This a token-level feature -- not a vocab feature

In [15]:
nltk.help.upenn_tagset()

$: dollar
    $ -$ --$ A$ C$ HK$ M$ NZ$ S$ U.S.$ US$
'': closing quotation mark
    ' ''
(: opening parenthesis
    ( [ {
): closing parenthesis
    ) ] }
,: comma
    ,
--: dash
    --
.: sentence terminator
    . ! ?
:: colon or ellipsis
    : ; ...
CC: conjunction, coordinating
    & 'n and both but either et for less minus neither nor or plus so
    therefore times v. versus vs. whether yet
CD: numeral, cardinal
    mid-1890 nine-thirty forty-two one-tenth ten million 0.5 one forty-
    seven 1987 twenty '79 zero two 78-degrees eighty-four IX '60s .025
    fifteen 271,124 dozen quintillion DM2,000 ...
DT: determiner
    all an another any both del each either every half la many much nary
    neither no some such that the them these this those
EX: existential there
    there
FW: foreign word
    gemeinschaft hund ich jeux habeas Haementeria Herr K'ang-si vous
    lutihaw alai je jour objets salutaris fille quibusdam pas trop Monte
    terram fiche oui corporis ...
IN: preposition or conjunction, subordinating
    astride among uppon whether out inside pro despite on by throughout
    below within for towards near behind atop around if like until below
    next into if beside ...
JJ: adjective or numeral, ordinal
    third ill-mannered pre-war regrettable oiled calamitous first separable
    ectoplasmic battery-powered participatory fourth still-to-be-named
    multilingual multi-disciplinary ...
JJR: adjective, comparative
    bleaker braver breezier briefer brighter brisker broader bumper busier
    calmer cheaper choosier cleaner clearer closer colder commoner costlier
    cozier creamier crunchier cuter ...
JJS: adjective, superlative
    calmest cheapest choicest classiest cleanest clearest closest commonest
    corniest costliest crassest creepiest crudest cutest darkest deadliest
    dearest deepest densest dinkiest ...
LS: list item marker
    A A. B B. C C. D E F First G H I J K One SP-44001 SP-44002 SP-44005
    SP-44007 Second Third Three Two * a b c d first five four one six three
    two
MD: modal auxiliary
    can cannot could couldn't dare may might must need ought shall should
    shouldn't will would
NN: noun, common, singular or mass
    common-carrier cabbage knuckle-duster Casino afghan shed thermostat
    investment slide humour falloff slick wind hyena override subhumanity
    machinist ...
NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...
NNPS: noun, proper, plural
    Americans Americas Amharas Amityvilles Amusements Anarcho-Syndicalists
    Andalusians Andes Andruses Angels Animals Anthony Antilles Antiques
    Apache Apaches Apocrypha ...
NNS: noun, common, plural
    undergraduates scotches bric-a-brac products bodyguards facets coasts
    divestitures storehouses designs clubs fragrances averages
    subjectivists apprehensions muses factory-jobs ...
PDT: pre-determiner
    all both half many quite such sure this
POS: genitive marker
    ' 's
PRP: pronoun, personal
    hers herself him himself hisself it itself me myself one oneself ours
    ourselves ownself self she thee theirs them themselves they thou thy us
PRP$: pronoun, possessive
    her his mine my our ours their thy your
RB: adverb
    occasionally unabatingly maddeningly adventurously professedly
    stirringly prominently technologically magisterially predominately
    swiftly fiscally pitilessly ...
RBR: adverb, comparative
    further gloomier grander graver greater grimmer harder harsher
    healthier heavier higher however larger later leaner lengthier less-
    perfectly lesser lonelier longer louder lower more ...
RBS: adverb, superlative
    best biggest bluntest earliest farthest first furthest hardest
    heartiest highest largest least less most nearest second tightest worst
RP: particle
    aboard about across along apart around aside at away back before behind
    by crop down ever fast for forth from go high i.e. in into just later
    low more off on open out over per pie raising start teeth that through
    under unto up up-pp upon whole with you
SYM: symbol
    % & ' '' ''. ) ). * + ,. < = > @ A[fj] U.S U.S.S.R * ** ***
TO: "to" as preposition or infinitive marker
    to
UH: interjection
    Goodbye Goody Gosh Wow Jeepers Jee-sus Hubba Hey Kee-reist Oops amen
    huh howdy uh dammit whammo shucks heck anyways whodunnit honey golly
    man baby diddle hush sonuvabitch ...
VB: verb, base form
    ask assemble assess assign assume atone attention avoid bake balkanize
    bank begin behold believe bend benefit bevel beware bless boil bomb
    boost brace break bring broil brush build ...
VBD: verb, past tense
    dipped pleaded swiped regummed soaked tidied convened halted registered
    cushioned exacted snubbed strode aimed adopted belied figgered
    speculated wore appreciated contemplated ...
VBG: verb, present participle or gerund
    telegraphing stirring focusing angering judging stalling lactating
    hankerin' alleging veering capping approaching traveling besieging
    encrypting interrupting erasing wincing ...
VBN: verb, past participle
    multihulled dilapidated aerosolized chaired languished panelized used
    experimented flourished imitated reunifed factored condensed sheared
    unsettled primed dubbed desired ...
VBP: verb, present tense, not 3rd person singular
    predominate wrap resort sue twist spill cure lengthen brush terminate
    appear tend stray glisten obtain comprise detest tease attract
    emphasize mold postpone sever return wag ...
VBZ: verb, present tense, 3rd person singular
    bases reconstructs marks mixes displeases seals carps weaves snatches
    slumps stretches authorizes smolders pictures emerges stockpiles
    seduces fizzes uses bolsters slaps speaks pleads ...
WDT: WH-determiner
    that what whatever which whichever
WP: WH-pronoun
    that what whatever whatsoever which who whom whosoever
WP$: WH-pronoun, possessive
    whose
WRB: Wh-adverb
    how however whence whenever where whereby whereever wherein whereof why
``: opening quotation mark
    ` ``